@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* Nav-bar start */
img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Play', sans-serif;
    background-color: #18181B;
    font-size: 20px;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.3rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #F6A82B;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 80%;
}

/* Nav-bar end */

/*Banner start*/

.container{  
    margin: auto;
    padding: 2rem 2rem;
    background-color: #F6A82B;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content{
    margin-left: 10%;
}

header .content h4{
    font-family: 'Play', sans-serif;
    margin-bottom: 1rem;
    color: #181818;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    font-family: 'Play', sans-serif;
    color: #181818;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 4rem;
}

header .content .script{
    color: #181818;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-size: 3.5rem;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

.contacts {
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}

.contacts::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #181818;
    transition: all 0.3s ease;
}

.contacts:hover::after {
    width: 120%;
    color: #181818;
}


header .avatar_group{
    position: relative;
}

header .avatar_group img {
    max-width: 300px;
    margin: auto;
    opacity: 1;
    border-radius: 50%;
    outline: 5px solid #18181B ;
    outline-offset: 8px;
}


.nav-image{
    cursor: pointer;
    max-width: 15rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 25%;
}

.link-image .facebook_button img:hover{
    outline: 3px solid#1877F2; /* Blue outline, adjust color as needed */
    outline-offset: 2px; /* Adjusts the space between the image and the outline */
    border-radius: 50%;
    box-shadow: 0 0 17px 2px #1877F2;
}

.link-image .instagram_button img:hover{
    outline: 3px solid #962fbf ; /* Blue outline, adjust color as needed */
    outline-offset: 2px; /* Adjusts the space between the image and the outline */
    border-radius: 50%;
    box-shadow:
    -1px -1px 15px 1px #feda75,    
    -0.5px -1px 15px 1px #fa7e1e, 
    0 1px 15px 2px #d62976,
    1px 1px 15px 2px #962fbf,
    -1px 1px 15px 1px #4f5bd5;
}

.link-image .github_button img:hover{
    outline: 3px solid #555555; /* Blue outline, adjust color as needed */
    outline-offset: 2px; /* Adjusts the space between the image and the outline */
    border-radius: 50%;
    box-shadow: 0 0 15px 2px #3c3c3c;
}

/* Banner end */

/*Skill-Card start*/
.skillcard{
    padding-bottom: 2rem;
}

.skill_header{
    position: relative;
    font-family: "Play", "sans-serif";
    color: #ccc;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.skill_title{
    padding-bottom: 10px;
    font-size: 18px;
}

.description{
    padding-bottom: 1px;
    font-size: 12px; 
}


.skill_container{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 25px;
    font-family: "Play", "sans-serif";
    color: #ccc;
}

.skill{
    border-radius: 15px;
    position: relative;
    width: 400px;
    box-shadow: 0 0 15px 2px #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


.text_area{
    display:inline;
    grid-column: 2;
    margin-left: -50px;
}

.skill_photo{
    position: relative;
    padding: 15px 10px 15px 15px;
    max-width: 150px;
    height:auto;
    grid-column: 1;
    border-radius: 10%;
}


.skill_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* Allows items to wrap onto the next line as needed */
    justify-content: center;  /* Centers items horizontally */
}

@media (max-width: 600px) {  /* Adjust the breakpoint as needed */
    .skill_list {
        flex-direction: column;
        align-items: center;  /* Centers items vertically within the container */
    }
}

/*Skill card end*/

/* Portfolio start */

.portfolio_section{
    padding-bottom: 50px;
    font-family: "Play", "sans-serif";
}


.portfolio_section h3{
    position: relative;
    font-family: "Play", "sans-serif";
    color: #ccc;
    font-size: 2rem;
    text-align: left;

    

    box-shadow: 0 3px 0 0 #F6A82B; /* x-offset, y-offset, blur-radius, spread-radius, color */
    display: inline; /* Keep it to the text length */
    padding-bottom: 3px; /* Adjust the space between text and shadow */
    margin-left: 45px;
}

.portfolio_list{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* Allows items to wrap onto the next line as needed */
    justify-content: center; 

}

.portfolio_container {
    border-color: black;
    border-radius: 15px;
    background-color: #F6A82B;
    width: 500px;
    height: 400px;
    text-align: left; /* Centers the content */
    box-shadow: 0 0 15px 2px white;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
}

.portfolio_photo {
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    top: 0px;
    position: absolute;
    width: 90%; /* Adjust this as needed */
    height: auto; /* Maintain aspect ratio */
    display: flex; /* Removes bottom space/gap */
    overflow: hidden; /* Hides anything outside this area */
}

.info {
    padding: 10px 10px 10px;
    border-radius: 15px;
    height: 50%;
    position: absolute;
    bottom: 0; /* Positions the div at the bottom of the container */
    left: 0;
    width: 100%; /* Ensures it covers the full width of the image */
    background-color: #18181B;
}

.title{
    color: #ccc;
    font-size: 20px;
    padding-bottom: 5px;
}

.des{
    color: #ccc;
    font-size: 15px;
}

.portfolio_container .info:hover{
    background-color: #3c3c3c;
}

