@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/*header*/
img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Play', sans-serif;
    background-color: #18181B;
    font-size: 20px;
}

.top{
    border-bottom: 2px solid white;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.3rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 80%;
}


/* home */

.container{
    
    max-width: 1200px;
    margin: auto;
    padding: 4rem 2rem;
    border-bottom: 3px solid white;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    font-family: 'Play', sans-serif;

    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    font-family: 'Play', sans-serif;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),   /* White glow */
    0 0 20px rgba(255, 255, 255, 0.6),   /* Larger, more diffused glow */
    0 0 30px rgba(255, 255, 255, 0.4),   /* Even larger, more diffused glow */
    0 0 40px rgba(255, 255, 255, 0.3); 
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

.contacts {
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
}

.contacts::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.contacts:hover::after {
    width: 90%;
    color: #1d4ed8; 
}


header .avatar_group{
    position: relative;
}

header .avatar_group img {
    max-width: 500px;
    margin: auto;
    opacity: 1;
}


.nav-image{
    cursor: pointer;
    max-width: 15rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link-image .facebook_button img:hover{
    outline: 3px solid#1877F2; /* Blue outline, adjust color as needed */
    outline-offset: 2px; /* Adjusts the space between the image and the outline */
    border-radius: 50%;
    box-shadow: 0 0 17px 2px #1877F2;
}

.link-image .instagram_button img:hover{
    outline: 3px solid #962fbf ; /* Blue outline, adjust color as needed */
    outline-offset: 2px; /* Adjusts the space between the image and the outline */
    border-radius: 50%;
    box-shadow:
    -1px -1px 15px 1px #feda75,    
    -0.5px -1px 15px 1px #fa7e1e, 
    0 1px 15px 2px #d62976,
    1px 1px 15px 2px #962fbf,
    -1px 1px 15px 1px #4f5bd5;
}

.link-image .github_button img:hover{
    outline: 3px solid #d0d0d0; /* Blue outline, adjust color as needed */
    outline-offset: 2px; /* Adjusts the space between the image and the outline */
    border-radius: 50%;
    box-shadow: 0 0 15px 2px #ffffff;
}

/*skill card*/

.skill_header{
    position: relative;
    font-family: "Play", "sans-serif";
    color: #ccc;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.skill_title{
    padding-bottom: 10px;
    font-size: 18px;
}
.description{
    
    padding-bottom: 1px;
    font-size: 12px; 
}


.skill_container{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 25px;
    font-family: "Play", "sans-serif";
    color: #ccc;
}

.skill{
    border-radius: 15px;
    position: relative;
    width: 400px;
    box-shadow: 0 0 15px 2px #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


.text_area{
    display:inline;
    grid-column: 2;
    margin-left: -50px;
}

.skill_photo{
    position: relative;
    padding: 15px 10px 15px 15px;
    max-width: 150px;
    height:auto;
    grid-column: 1;
    border-radius: 10%;
}


.skill_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* Allows items to wrap onto the next line as needed */
    justify-content: center;  /* Centers items horizontally */
}

@media (max-width: 600px) {  /* Adjust the breakpoint as needed */
    .skill_list {
        flex-direction: column;
        align-items: center;  /* Centers items vertically within the container */
    }
}
